#holderDivOne {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  padding-left: 10%;
  padding-right: 10%;
}

#div1A {
  grid-area: 1 / 1 / 2 / 2;
}
#div1B {
  grid-area: 1 / 2 / 2 / 3;
}
#div1C {
  grid-area: 1 / 3 / 2 / 4;
}
button {
  background-color: limegreen;
}
